.header{
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content:space-evenly;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.child-div{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.125);
  padding: 1rem;

}

.temperature{
  display: flex;
  flex-direction: row;
 
}
 .one{
    color: #8884d8;
  }
  .two{
    color: #82ca9d;
  }
.child-strong{
  display: flex;
  width: 100%;;
}
